doctype html
html(lang='bg')

    - var pageTitle = 'Програмиране с Java | Zlatev Academy'
    - var canonicalUrl = 'https://zlatevacademy.com'
    - var description = 'Курс по програмиране за начинаещи, и хора с малко опит желаещи да затвърдят знанията си и да получат добра основа в сферата.'

    include includes/head
    +head(pageTitle, canonicalUrl, description)

    body
        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('static/assets/img/home-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Програмиране с Java
                            span.subheading Запиши се до 31.07.2022

        // Main Content
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7


        // Post Content
        article.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        
                        blockquote.blockquote 
                            | За курса ще се използва програмният език Java, но концепциите, които ще бъдат покрити са основополагащи и приложими и в други езици като C#, Python, Go.

                        h2.section-heading За кого е подходящ курса?
                        p
                            | Курса е подходящ за хора без опит проявяващи интерес към сферата, завършващи ученици, студенти и работещи. Препоръчително е да се знае английски език.
                        
                        h2.section-heading Очаквания от курса
                        p 
                            | При усвояване на материалите от курса вие ще имате добро разбиране за основите на програмирането. 
                            | Ще можете да работите с терминал, ще сте развили метедология за подхождане и решаване на проблеми от софтуерно естество.
                            | Ще сте подходящ кандидат за стажантска програма или junior developer.

                        h2.section-heading Какво друго?
                        p
                            | • Дискусии за реални проблеми от практиката.<br/>
                            | • Решаването на задачи ще се проведе използвайки реален процес от практиката. А именно обсъждане на проблема, предлагане и реализиране на решение, връщане на обратна връзка чрез код ревю.<br/>
                            | • Индивидуално внимание и връщане на обратна връзка на конкретни задачи и домашни.<br/>
                            | • Интервю задачи по време на курса и провеждане на примерно интервю.<br/>
                            | • Съвети за изготвяне на CV.<br/>
                            | • Напътствия и следващи стъпки.<br/>

                        h2.section-heading Кой е лектора?
                        p
                        .text-center
                            img.img-fluid.rounded-circle.img-member-size(src= 'static/assets/team/marian.jpg', alt='Лектор')
                        span.caption.text-muted
                            | Мариан Златев
                        p
                            | С 8 години професионален опит, като Java backend developer. Има известен frontend опит. През свободното си време разработва мобилни приложения. Активно поддържа <a href="https://caloriecounter.bg/">Калориен Калкулатор</a> с над 100 000 инсталации използвайки технологии като Kotlin, Swift и Go.
                            | От 2 години води курсове по програмиране.<br/>
                        
                        h2.section-heading Теми заложени в курса
                        p
                            | 1. Работа с git и терминал<br/>
                            | 2. Примитивни типове<br/>
                            | 3. Условни оператори и цикли<br/>
                            | 4. Масиви<br/>
                            | 5. Символни низове<br/>
                            | 6. Обектно ориентирано програмиране<br/>
                            | 7. Конструктори, модификатори за достъп, пакети<br/>
                            | 8. Наследяване<br/>
                            | 9. Абстракция<br/>
                            | 10. Полиморфизъм<br/>
                            | 11. SOLID принципи<br/>
                            | 12. Колекции<br/>
                            | 13. Обработка на грешки<br/>
                            | 14. Файлове и входно/изходни операции<br/>
                            | 15. Generics<br/>

                        h2.section-heading Как ще се води курса?
                        p
                            | Курса ще се води online два пъти седмично, след работно време в продължение на два месеца. Няма да се сформират големи групи с цел по-ефикасно предаване на материала.<br/>
                            | Детайлите относно конкретен час и начална дата ще се изяснят след сформирането на група.<br/>
                            | <b>Цена на курса 250лв.</b><br/>
                        
                        .d-flex.justify-content-center.mb-4
                            a.btn.btn-primary.text-uppercase(href='https://mzlatev91.getform.com/o4n2p') Запиши се
                

        include includes/footer.pug

        include includes/scripts.pug
