#cookie-consent-modal.d-flex.justify-content-center.container.cooke-consent
    .row
        .col-md-10
            .d-flex.flex-row.justify-content-between.align-items-center.card.p-3
                .d-flex.flex-row.align-items-center
                    i.fas.fa-cookie-bite.text-gradient.icon-cookie
                .mx-3
                    span Този сайт използва бисквитки (cookies), за да ви осигури най-доброто преживяване.
                div
                    button#cookie-consent-accept-btn.btn.btn-dark(type='button') Приемам
